<app-topbar></app-topbar>
<div class="container">


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-inverse
  ">
    <a href="#" class="navbar-brand">
      {{title}}
    </a>
  </nav>


  <div class="row"><!--debut row1--> 
    <div class="col-sm-4">
      <div class="list-group">
        <a 
          href="#" 
          class="list-group-item" 
          aria-current="true"
          *ngFor="let item of produitsBoutique"
          (click)="detailProduit(item)"
        >
            {{item.nom}}
        </a>
      </div>
    </div>

    <div class="col-sm-8">
      <!--avec le clic d'un element-->
      <div 
        class="jumbotron"
        *ngIf="objetDetail.nom"
      >
        <h1 class="display-4">{{objetDetail.nom}}</h1>
        <p class="lead">{{objetDetail.description}}</p>
        <p class="lead">{{objetDetail.couleur}}</p>
        <img [src]="objetDetail.photo" width="300" alt="phone">
      </div>


      <!--pas de clic-->
      <div 
        class="jumbotron"
        *ngIf="!objetDetail.nom"
      >
        <h1 class="display-4">Cliquez sur un élément</h1>
        <p class="lead"></p>
      </div>
    </div>
  </div><!--fin row1--> 
  
  <div class="row"><!--debut row2--> 
    <input 
      type="text"
      [(ngModel)]="newItem"
      placeholder="ici le titre"
    >
    <input 
    type="text"
    [(ngModel)]="newItemDesc"
    placeholder="ici description"
  >
  <input 
    type="text"
    [(ngModel)]="newItemColor"
    placeholder="ici la couleur"
  >
    <button (click)="onAddItem()" class="btn btn-primary" [disabled]="disableButton">
      Ajouter un produit
    </button>
  </div><!--fin row2--> 

  <div class="row">
    <p class="" style="margin: 10px 0">Vous avez {{produitsBoutique.length}} articles dans votre compte</p>
  </div>

  <div class="row">
    <p style="color: red">{{limitMessage}}</p>
  </div>

</div>




  <!--Affichage du tableau
    <li *ngFor="let i of produitsBoutique">
      {{i.nom}} - {{i.couleur}}
    </li>
  </ul> <!--unordered list-->
  
